BODY {
    MARGIN: 0;
    OVERFLOW: HIDDEN;
    BACKGROUND-COLOR: BLACK;
    BACKGROUND-IMAGE: URL("../VISUELS%20MAIS%20ON%20OUBLIERA%20PAS%20LES%20ALT%20OKAY/BORDEL/GUEULE%20DE%20PZ.PNG");
    BACKGROUND-REPEAT: NO-REPEAT;
    BACKGROUND-POSITION-X: CALC(0SVW - 7SVMIN) /* 0 L4EXTR7ME GAUCHE */;
    BACKGROUND-POSITION-Y: CALC(100SVH - 35SVMIN) /* AU BAS DE L4ECHELLE */;
    BACKGROUND-SIZE: 25SVMIN;
    PADDING: 0 0 0 20SVMIN;
}

SECTION {
    HEIGHT: 45SVH;
}

LABEL {
    COLOR: WHITE;
    DISPLAY: BLOCK;
}

TEXTAREA {
    DISPLAY: BLOCK;
    WIDTH: 98%;
    HEIGHT: CALC(100% - 3EM);
    RESIZE: NONE;
}
